<div class="main-content">
                    <!-- aside section -->
                    <aside >
                        <!-- aside category section -->
                        <div class="aside-1 shadow-sm bg-white rounded-3 p-3">
                            <!-- Categories field card -->
                            <div class="cat-title border-bottom">
                                <h5 class="fw-normal m-0"> Categories </h5>
                            </div>
                            <div class="cat-card pb-4">
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Veterinary</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Petcare</a></li>
                                            <li><a class="dropdown-item" href="#">Farm Animals</a></li>
                                            <li><a class="dropdown-item" href="#">Poultry</a></li>
                                            <li><a class="dropdown-item" href="#">Aquaculture</a></li>
                                            <li><a class="dropdown-item" href="#">Equine</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Ayush</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Homeopathy</a></li>
                                            <li><a class="dropdown-item" href="#">Ayurvedic</a></li>
                                            <li><a class="dropdown-item" href="#">Unani</a></li>
                                            <li><a class="dropdown-item" href="#">Siddha</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Fitness</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Vitamins And Supplements</a></li>
                                            <li><a class="dropdown-item" href="#">Family Nutrition</a></li>
                                            <li><a class="dropdown-item" href="#">Health Food And Drinks</a></li>
                                            <li><a class="dropdown-item" href="#">Ayurvedic Supplements</a></li>
                                            <li><a class="dropdown-item" href="#">Sports Supplements</a></li>
                                            <li><a class="dropdown-item" href="#">Smoking Cessation Support</a></li>
                                            <li><a class="dropdown-item" href="#">Weight Management</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Mom & Baby</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Baby Care</a></li>
                                            <li><a class="dropdown-item" href="#">Feminine Hygiene</a></li>
                                            <li><a class="dropdown-item" href="#">Maternity Care</a></li>
                                            <li><a class="dropdown-item" href="#">Toys & Games</a></li>
                                            <li><a class="dropdown-item" href="#">Baby Bath Time</a></li>
                                            <li><a class="dropdown-item" href="#">Maternity Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Sexual Wellness</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Lubricants</a></li>
                                            <li><a class="dropdown-item" href="#">Massagers/Vibrators</a></li>
                                            <li><a class="dropdown-item" href="#">Sprays/Gels</a></li>
                                            <li><a class="dropdown-item" href="#">Condoms</a></li>
                                            <li><a class="dropdown-item" href="#">Sexual Health Supplements</a></li>
                                            <li><a class="dropdown-item" href="#">Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Treatments</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Stomach Discomfort</a></li>
                                            <li><a class="dropdown-item" href="#">Diabetes Care</a></li>
                                            <li><a class="dropdown-item" href="#">First Aid</a></li>
                                            <li><a class="dropdown-item" href="#">Pain Relief Application</a></li>
                                            <li><a class="dropdown-item" href="#">Usual Symptoms</a></li>
                                            <li><a class="dropdown-item" href="#">General Discomfort</a></li>
                                            <li><a class="dropdown-item" href="#">Cough & Cold</a></li>
                                            <li><a class="dropdown-item" href="#">General Health Supplements</a></li>
                                            <li><a class="dropdown-item" href="#">Smoking Cessation (T)</a></li>
                                            <li><a class="dropdown-item" href="#">Skin Treatment</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Devices</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Orthopaedics</a></li>
                                            <li><a class="dropdown-item" href="#">Breathe Easy</a></li>
                                            <li><a class="dropdown-item" href="#">Measurements</a></li>
                                            <li><a class="dropdown-item" href="#">Surgical Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Health Conditions</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Brain Care</a></li>
                                            <li><a class="dropdown-item" href="#">Bone And Joint Pain</a></li>
                                            <li><a class="dropdown-item" href="#">Liver Care</a></li>
                                            <li><a class="dropdown-item" href="#">Stomach Care</a></li>
                                            <li><a class="dropdown-item" href="#">Diabetic Care</a></li>
                                            <li><a class="dropdown-item" href="#">Lung Care</a></li>
                                            <li><a class="dropdown-item" href="#">Piles Care</a></li>
                                            <li><a class="dropdown-item" href="#">Mental Care</a></li>
                                            <li><a class="dropdown-item" href="#">Cold And Fever</a></li>
                                            <li><a class="dropdown-item" href="#">Women's Care</a></li>
                                            <li><a class="dropdown-item" href="#">Weight Care</a></li>
                                            <li><a class="dropdown-item" href="#">De-Addiction</a></li>
                                            <li><a class="dropdown-item" href="#">Cardiac Care</a></li>
                                            <li><a class="dropdown-item" href="#">Immunity Care</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Otc Deals</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Healthvit Deals</a></li>
                                            <li><a class="dropdown-item" href="#">GSK Physiogel</a></li>
                                            <li><a class="dropdown-item" href="#">Fitness Sale</a></li>
                                            <li><a class="dropdown-item" href="#">Mankind Pets</a></li>
                                            <li><a class="dropdown-item" href="#">Glen Mark</a></li>
                                            <li><a class="dropdown-item" href="#">Vitamins for Men</a></li>
                                            <li><a class="dropdown-item" href="#">Vitamins for Women</a></li>
                                            <li><a class="dropdown-item" href="#">Coenzyme Q10</a></li>
                                            <li><a class="dropdown-item" href="#">Vitamins for Kids</a></li>
                                            <li><a class="dropdown-item" href="#">Hypertension (Ayurveda)</a></li>
                                            <li><a class="dropdown-item" href="#">Dr.Morepen</a></li>
                                            <li><a class="dropdown-item" href="#">UV Doux</a></li>
                                            <li><a class="dropdown-item" href="#">Shelcal</a></li>
                                            <li><a class="dropdown-item" href="#">Big Sale</a></li>
                                            <li><a class="dropdown-item" href="#">Immunity Products And Kits</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Eyewear</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Contact Lenses (EW)</a></li>
                                            <li><a class="dropdown-item" href="#">Eye Glasses</a></li>
                                            <li><a class="dropdown-item" href="#">Reading Glasses</a></li>
                                            <li><a class="dropdown-item" href="#">Sun Glasses</a></li>
                                            <li><a class="dropdown-item" href="#">Computer Glasses</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Covid Essentials</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Personal & Home Essentials</a></li>
                                            <li><a class="dropdown-item" href="#">Masks, Gloves & Protective <br> Equipments</a></li>
                                            <li><a class="dropdown-item" href="#">Business Essentials</a></li>
                                            <li><a class="dropdown-item" href="#">Travel Essentials</a></li>
                                            <li><a class="dropdown-item" href="#">Oxygen Can</a></li>
                                        </ul>
                                    </div> 
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Surgical</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Dressing</a></li>
                                            <li><a class="dropdown-item" href="#">Gi Care</a></li>
                                            <li><a class="dropdown-item" href="#">Iv Infusion</a></li>
                                            <li><a class="dropdown-item" href="#">Respiratory Supplies</a></li>
                                            <li><a class="dropdown-item" href="#">Surgical Consumables</a></li>
                                            <li><a class="dropdown-item" href="#">Surgical Instrument</a></li>
                                            <li><a class="dropdown-item" href="#">Urinary Care</a></li>
                                            <li><a class="dropdown-item" href="#">Wound Treatment</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Diabetes Support</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Diabetes Care Ayurveda</a></li>
                                            <li><a class="dropdown-item" href="#">Glucometers</a></li>
                                            <li><a class="dropdown-item" href="#">Lancets & Test Strips</a></li>
                                            <li><a class="dropdown-item" href="#">Sugar Substitutes</a></li>
                                            <li><a class="dropdown-item" href="#">Diabetes Management Supplements</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Fragrances</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Men</a></li>
                                            <li><a class="dropdown-item" href="#">Unisex</a></li>
                                            <li><a class="dropdown-item" href="#">Women</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Make-Up</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Lips</a></li>
                                            <li><a class="dropdown-item" href="#">Eyes</a></li>
                                            <li><a class="dropdown-item" href="#">Nails</a></li>
                                            <li><a class="dropdown-item" href="#">Face Makeup</a></li>
                                            <li><a class="dropdown-item" href="#">Make-Up Tools & Brushes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Hair</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Hair Styling</a></li>
                                            <li><a class="dropdown-item" href="#">Hair Color</a></li>
                                            <li><a class="dropdown-item" href="#">Scalp Treaments</a></li>
                                            <li><a class="dropdown-item" href="#">Shop By Hair Type</a></li>
                                            <li><a class="dropdown-item" href="#">Hair Care</a></li>
                                            <li><a class="dropdown-item" href="#">Hair Tools & Accessories</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Men's Grooming</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Shaving</a></li>
                                            <li><a class="dropdown-item" href="#">Beard Care</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Skin Care</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Cleansers</a></li>
                                            <li><a class="dropdown-item" href="#">Masks</a></li>
                                            <li><a class="dropdown-item" href="#">Moisturizers</a></li>
                                            <li><a class="dropdown-item" href="#">Sunscreen</a></li>
                                            <li><a class="dropdown-item" href="#">Eye Care</a></li>
                                            <li><a class="dropdown-item" href="#">Toners & Serums</a></li>
                                            <li><a class="dropdown-item" href="#">Aromatherapy</a></li>
                                            <li><a class="dropdown-item" href="#">Face Skin Care</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Tools & Appliances</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Hair Styling Tools</a></li>
                                            <li><a class="dropdown-item" href="#">Face/Skin Tools</a></li>
                                            <li><a class="dropdown-item" href="#">Massage Tools</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Wellness</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Health-Supplements</a></li>
                                            <li><a class="dropdown-item" href="#">Weight-Management</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Personal Care</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Bathing Accessories</a></li>
                                            <li><a class="dropdown-item" href="#">Face Personal Care</a></li>
                                            <li><a class="dropdown-item" href="#">Body Care</a></li>
                                            <li><a class="dropdown-item" href="#">Senior Care</a></li>
                                            <li><a class="dropdown-item" href="#">Lip Care</a></li>
                                            <li><a class="dropdown-item" href="#">Oral Care</a></li>
                                            <li><a class="dropdown-item" href="#">Bath & Shower</a></li>
                                            <li><a class="dropdown-item" href="#">Hands & Feet</a></li>
                                            <li><a class="dropdown-item" href="#">Home & Health</a></li>
                                            <li><a class="dropdown-item" href="#">Personal Care Tools & Accessories</a></li>
                                            <li><a class="dropdown-item" href="#">Eye Care Lens</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Featured</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Flat 30 Off</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- aside filters section -->
                        <div class="aside-2 shadow-sm bg-white rounded-3 p-3">
                            <div class="filter-title border-bottom">
                                <h5 class="fw-normal m-0"> Filters </h5>
                            </div>
                            <!-- <div class="brands">
                                <h6>Brands</h6>
                                <div class="search-info rounded-1">
                                    <form role="search" action="">
                                        <input type="search" class="search-box" placeholder="Search...">
                                    </form>
                                </div>
                                <div class="brand-content">
                                    <ul class="brand-list">
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Aimil </span>
                                                <span class="brand-cnt"> (178)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Allen </span>
                                                <span class="brand-cnt"> (34)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Axiom </span>
                                                <span class="brand-cnt"> (136)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Ayuna </span>
                                                <span class="brand-cnt"> (49)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Ayur Herbal </span>
                                                <span class="brand-cnt"> (36)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Baidyanath </span>
                                                <span class="brand-cnt"> (180)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Baidyanath (Nagpur) </span>
                                                <span class="brand-cnt"> (136)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Balance Ayurveda </span>
                                                <span class="brand-cnt"> (52)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Bbb Better Body Bombay </span>
                                                <span class="brand-cnt"> (36)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Bipha Ayurveda </span>
                                                <span class="brand-cnt"> (52)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Bixa Botanical </span>
                                                <span class="brand-cnt"> (109)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Cipzer </span>
                                                <span class="brand-cnt"> (205)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Dabur </span>
                                                <span class="brand-cnt"> (262)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Dhootapapeshwar </span>
                                                <span class="brand-cnt"> (71)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Dr Batra's </span>
                                                <span class="brand-cnt"> (37)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Dr. Vaidya'S </span>
                                                <span class="brand-cnt"> (123)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Dr. Talat's </span>
                                                <span class="brand-cnt"> (40)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Goodcare </span>
                                                <span class="brand-cnt"> (38)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Gtee </span>
                                                <span class="brand-cnt"> (48)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="brand-name">Guapha Ayurveda </span>
                                                <span class="brand-cnt"> (35)</span>
                                            </input>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="manufacturer">
                                <h6>Manufacturers</h6>
                                <div class="search-info rounded-1">
                                    <form role="search" action="">
                                        <input type="search" class="search-box" placeholder="Search...">
                                    </form>
                                </div>
                                <div class="manufacturer-content">
                                    <ul class="manufact-list">
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Dabur India Ltd </span>
                                                <span class="manufact-cnt"> (263)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Kerala Ayurveda Limited </span>
                                                <span class="manufact-cnt"> (214)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Cipzer Herbals </span>
                                                <span class="manufact-cnt"> (191)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Patanjali Ayurved Ltd </span>
                                                <span class="manufact-cnt"> (188)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Shree Baidyanath Ayurved Bhawan Pvt Ltd </span>
                                                <span class="manufact-cnt"> (184)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Shree Dhootapapeshwar Limited </span>
                                                <span class="manufact-cnt"> (160)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Lama Pharmaceuticals </span>
                                                <span class="manufact-cnt"> (149)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Swadeshi Ayurved </span>
                                                <span class="manufact-cnt"> (147)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Harbalify Global </span>
                                                <span class="manufact-cnt"> (143)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Axiom Ayurveda Private Limited </span>
                                                <span class="manufact-cnt"> (139)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Adret Retail Pvt Ltd (Kapiva) </span>
                                                <span class="manufact-cnt"> (130)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Emami Ltd </span>
                                                <span class="manufact-cnt"> (127)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Herbolab India Pvt Ltd </span>
                                                <span class="manufact-cnt"> (120)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Planet Ayurveda </span>
                                                <span class="manufact-cnt"> (116)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Sriveda Sattva Pvt Ltd </span>
                                                <span class="manufact-cnt"> (114)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">S A Herbal Bioactives LLP </span>
                                                <span class="manufact-cnt"> (109)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Himalaya Wellness Company </span>
                                                <span class="manufact-cnt"> (107)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Shree Baidyanath Ayurved Bhawan Pvt Ltd,Nagpur </span>
                                                <span class="manufact-cnt"> (104)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Himalaya Ayurveda Shodh Sansthan </span>
                                                <span class="manufact-cnt"> (103)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Jiva Ayurvedic pharmacy Ltd </span>
                                                <span class="manufact-cnt"> (100)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Khadi Natural Healthcare </span>
                                                <span class="manufact-cnt"> (80)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Pravek Kalp Pvt Ltd </span>
                                                <span class="manufact-cnt"> (78)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Life Aveda </span>
                                                <span class="manufact-cnt"> (76)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Kairali Ayurvedic Products Pvt Ltd </span>
                                                <span class="manufact-cnt"> (75)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Zenius India </span>
                                                <span class="manufact-cnt"> (73)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Virgo UAP Pharma Pvt. Ltd. </span>
                                                <span class="manufact-cnt"> (72)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Kerala Naturals </span>
                                                <span class="manufact-cnt"> (71)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">GPA Teafloor Pvt Ltd </span>
                                                <span class="manufact-cnt"> (63)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Laplant Beverages Pvt Ltd </span>
                                                <span class="manufact-cnt"> (59)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Rajputana Agrico </span>
                                                <span class="manufact-cnt"> (59)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Balance Ayurveda Private Limited </span>
                                                <span class="manufact-cnt"> (52)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Bipha Drug Laboratories Pvt. Ltd. </span>
                                                <span class="manufact-cnt"> (52)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Cheella Health Care Pvt Ltd </span>
                                                <span class="manufact-cnt"> (49)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Vogue Pharmaceuticals Pvt. Ltd. </span>
                                                <span class="manufact-cnt"> (47)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Charak Pharma Pvt Ltd </span>
                                                <span class="manufact-cnt"> (45)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="manufact-name">Vedistry Pvt Ltd </span>
                                                <span class="manufact-cnt"> (45)</span>
                                            </input>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="category">
                                <h6>Categories</h6>
                                <div class="search-info rounded-1">
                                    <form role="search" action="">
                                        <input type="search" class="search-box" placeholder="Search...">
                                    </form>
                                </div>
                                <div class="category-content">
                                    <ul class="category-list">
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Ashwagandha </span>
                                                <span class="category-cnt"> (77)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Ayurvedic Juices </span>
                                                <span class="category-cnt"> (319)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Chyawanprash </span>
                                                <span class="category-cnt"> (85)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Cough & Cold (Ayush) </span>
                                                <span class="category-cnt"> (78)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Diabetes Care (Ayush) </span>
                                                <span class="category-cnt"> (100)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Digestive Care </span>
                                                <span class="category-cnt"> (147)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Giloy </span>
                                                <span class="category-cnt"> (30)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Health Products </span>
                                                <span class="category-cnt"> (435)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Honey </span>
                                                <span class="category-cnt"> (51)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Pain Relief (Ayush) </span>
                                                <span class="category-cnt"> (158)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Personal Care (Ayush) </span>
                                                <span class="category-cnt"> (622)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Pure Herbs </span>
                                                <span class="category-cnt"> (375)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Sexual Healthcare </span>
                                                <span class="category-cnt"> (156)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Speciality Medicines </span>
                                                <span class="category-cnt"> (2,967)</span>
                                            </input>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                                <span class="category-name">Teas </span>
                                                <span class="category-cnt"> (276)</span>
                                            </input>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="price">
                                <h6>Price</h6>
                                <div class="slider my-4">
                                    <span>9</span>
                                    <input type="range" class="form-range" name="price" min="9" max="7448">
                                    <span class="align-self-end">7448</span>
                                </div>
                            </div>
                            <!-- <div class="discount">
                                <h6>Discount</h6>
                                <div class="slider my-4">
                                    <span>0</span>
                                    <input type="range" class="form-range" name="discount" min="0" max="85">
                                    <span class="align-self-end">85</span>
                                </div>
                            </div>
                            <div class="available">
                                <h6>Availability</h6>
                                <div class="my-4">
                                    <ul class="available-list">
                                        <li>
                                            <input type="checkbox">
                                                <span class="available-name">Exclude out of stock </span>
                                                <span class="available-cnt"> (3,209)</span>
                                            </input>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </aside>
                    <!-- main content section -->
                    <section>
                        <!-- carousel section -->
                        <div class="carsel-div mb-5">
                            <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                </div>
                                <div class="carousel-inner rounded-3">
                                    <div class="carousel-item active" data-bs-interval="5000">
                                        <img src="../Assets/carousel1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="5000">
                                        <img src="../Assets/carousel2.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- filter label -->
                        <div class="label-filter">
                            <div class="count-div">
                                Showing <span class="item-cnt">20</span> of <span class="item-cnt">4816</span> items
                            </div>
                            <div class="sort-div">
                                Sort by:
                                <button class="btn py-0 bg-white rounded-2">Popularity</button>
                                <button class="btn py-0 bg-white rounded-2">High to Low</button>
                                <button class="btn py-0 bg-white rounded-2">Low to High</button>
                                <button class="btn py-0 bg-white rounded-2">Discount</button>
                            </div>
                        </div>
                    </section>
                </div>
