<div class="row pe-3">
    <div class="col-3">

    </div>
    <div class="col-9">
        <img [src]="bannerImg" class="shadow-sm w-100 rounded" />
        <div class="d-flex flex-wrap my-4 bg-white rounded-2">
            <div *ngFor="let product of products" class="card my-3 ms-3 p-2" (click)="goToDetail(product.id)">
                <div class="d-flex justify-content-center">
                    <img class="text-center" [src]="product.image" />
                </div>
                <p class="product_content mt-3">{{product.name}}</p>
                <div class="d-flex gap-2 justify-content-start">
                    <p class="product_category mt-2" *ngFor="let dt of product.category">{{ dt }}</p>
                </div>
                <span class="drug_varient mt-2">Mkt: {{product.brand|custom:30}}</span>
                <p class="product_disc_price mt-1">&#8377; {{ product.disc_price }}</p>
                <span class="text-decoration-line-through product_old_price mt-1">MRP Rs.{{ product.price }}</span>
                <button class="btn mt-4" (click)=" addToCart(product)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>