<p>glucometers works!</p>
<h2>Glucometers</h2>
<img [src]="bannerImg" width="1010" height="200" />
<div class="gluco_container">
    <div  *ngFor="let product of products" class="card m-2 p-2">
        <div class="img_wrapper">
            <img class="pro_img" [src]="product.image"  />
        </div>
        <p class="gluco_content mt-3">{{product.name}}</p>
        <div class="card_drug_cont d-flex gap-2">
          <p class="gluco_device mt-2" *ngFor="let dt of product.category">{{ dt }}</p>
        </div>
        <span  class="drug_varient mt-2">{{product.brand|custom:30}}</span>
      <p class="gluco_disc_price mt-1">₹{{ product.disc_price }}</p>
      <span class="gluco_old_price mt-1">MRP Rs. {{ product.price }}</span>
      <button class="btn mt-4">Add To Cart</button>
    </div>
</div>

    